@charset "utf-8";
/* CSS Document */
/*样式重置*/
body, ol, ul, li, p, div, input, button,section {
	font-family: Microsoft YaHei, WenQuanYi Micro Hei, Segoe, "华文细黑", "等线", "黑", "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Arial;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 16px;
}
a:link,a:visited{
	color: rgba(21,21,21,1.00);
	text-decoration: none;
}
a:hover{
	color: rgba(0,27,63,1.00);
}
body {
	position: relative;
}
#header
{
    height:80px;
    margin:0px auto;
}
#main
{
    margin:10px auto;
    height:400px;
}
#footer
{
    margin:0px auto;
    height:100px;
}
@media screen and (min-width:900px)
{
    #header,#footer
    {
        width:800px;
    }
    #main
    {
        width:800px;
        height:400px;
    }
    #main-left
    {
        width:200px;
        height:400px;
        border:solid 1px red;
        float:left;  /*以下均要设置左浮动，保证在同一行*/
    }
    #main-center
    {
        width:394px;
        height:400px;
        border:solid 1px red;
        float:left;
    }
    #main-right
    {
        width:200px;
        height:400px;
        border:solid 1px red;
        float:left;
    }
}
@media screen and (min-width:600px) and (max-width:900px)
{
    #header,#footer
    {
        width:600px;
    }
    #main
    {
        width:600px;
        height:400px;;
    }
    #main-left
    {
        width:200px;
        height:400px;
        border:solid 1px red;
        float:left; /*以下均要设置左浮动，保证在同一行*/
    }
    #main-center
    {
        width:396px;
        height:400px;
        border:solid 1px red;
        float:left;
    }
    #main-right
    {
        display:none; /*隐藏内容右边*/
    }
}
@media screen and (max-width:600px)
{
    #header,#footer
    {
        width:300px;
    }
    #main
    {
        width:300px;
        height:400px;
    }
    #main-left
    {
        display:none; /*隐藏内容左边*/
    }
    #main-center
    {
        width:300px;
        height:400px;
        border:solid 1px red;
    }
    #main-right
    {
        display:none;  /*隐藏内容右边*/
    }
}
#myc {
			float:left;
			position: absolute;
			z-index:-1;
		}